/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes fadeLeftIn {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    opacity: 0.5;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeRightIn {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    opacity: 0.5;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeBottomIn {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  padding: 3rem; }

html {
  font-size: 62.5%; }

.heading-primary {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: fadeLeftIn 1.5s ease-out; }

.heading-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation: fadeRightIn 1.5s ease; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-5 {
  margin-bottom: 5rem; }

.u-margin-top-2 {
  margin-top: 2rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin-top: 7rem;
  transition: all 0.3s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn__white {
  background-color: #fff;
  color: #777;
  border-radius: 4rem;
  animation: fadeBottomIn 1s ease-out backwards; }
  .btn__white::after {
    background-color: #fff;
    z-index: -1; }
  .btn__white:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn__green {
  background-color: #55c57a;
  color: #fff;
  border-radius: 4rem;
  animation: fadeBottomIn 1s ease-out backwards; }
  .btn__green::after {
    background-color: #55c57a;
    z-index: -1; }
  .btn__green:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15; }
  .bg-video__content {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.composition {
  position: relative;
  flex: 1; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.2rem solid #7ed56f;
      transform: scale(1.05) translateX(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 1; }
    .composition__photo:hover:__photo:not(:hover) {
      transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.685);
  margin: 0 3rem;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.5s;
  position: relative;
  z-index: 2;
  top: -10rem; }
  .feature-box__icon {
    width: 6rem;
    height: 6rem;
    fill: #7ed56f;
    margin-bottom: 2rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card-container {
  display: flex;
  justify-content: space-around; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  width: 34.5rem; }
  .card__side {
    background-color: orange;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ff7730, #7ed56f), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 1rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.8rem;
    box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(255, 119, 48, 0.85), rgba(126, 213, 111, 0.85)); }
    .card__heading-span-3 {
      background-image: linear-gradient(to left bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 70%;
    margin: 1rem auto; }
  .card__details li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem; }
    .card__details li:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; }
  .card__price-only {
    font-size: 1.8rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #7ed56f; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1.5rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding: 0 5rem; }

.form__radio-btn {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.6rem; }
  .form__radio-btn::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7ed56f;
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input {
  display: none; }

.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.253);
  border-radius: 3px;
  padding: 6rem;
  transform: skewX(-12deg); }
  .story:not(:first-child) {
    margin-top: 10rem; }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden;
    position: relative; }
  .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.3);
    transition: all 0.7s;
    backface-visibility: hidden; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.7s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(90%); }
  .story__btn {
    margin-top: 10rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.808), rgba(40, 180, 133, 0.808)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__main-content {
    position: absolute;
    text-transform: uppercase;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: block;
    text-align: center; }

.introduction {
  display: flex;
  margin: 0 3rem; }
  .introduction__content {
    flex: 0 0 50%;
    margin-right: 6rem; }

.section-about {
  background-color: #eee;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-feature {
  padding: 20rem 0;
  display: flex;
  position: relative; }
  .section-feature:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-7deg);
    background-image: linear-gradient(to right, rgba(85, 197, 122, 0.808), rgba(40, 180, 133, 0.808)), url("../img/nat-4.jpg");
    background-size: cover;
    margin-top: -10rem; }

.section-tour {
  background-color: #eee;
  padding: 25rem 0 25rem 0;
  margin-top: -18rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }

.section-book {
  position: relative;
  padding: 15rem 5rem;
  height: 90rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(105deg, rgba(238, 238, 238, 0.9) 0%, rgba(238, 238, 238, 0.9) 50%, transparent 50%), url(/img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  width: 112rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }
