.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    margin-top: 7rem;
    transition: all 0.3s;
    position: relative;

    //  For button
    border: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  }
  &__white {
    background-color: $white-color;
    color: $color-grey-dark;
    border-radius: 4rem;
    animation: fadeBottomIn 1s ease-out backwards;

    &::after {
      background-color: $white-color;
      z-index: -1;
    }

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &__green {
    background-color: $color-secondary-dark;
    color: #fff;
    border-radius: 4rem;
    animation: fadeBottomIn 1s ease-out backwards;

    &::after {
      background-color: $color-secondary-dark;
      z-index: -1;
    }

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
  }
}

//////////////////
////// BUTTON INTRODUCTION CONTENT //
.btn-text {
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: $color-secondary-dark;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-secondary-dark;
    padding: 3px;
    transition: all 0.3s;
  }
  &:hover {
    background-color: $color-secondary-dark;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
}
